{% extends 'base.html' %} {% block title %} Home Page {% endblock title %} 
{% block page_title %} Add Persons {% endblock page_title %} {% block content %}
{% load crispy_forms_tags %}
{% if message %}
<div class="row bg-success p-4">
  <p class="text-white">{{message}}</p>
</div>
{% endif %}
<div class="form-row m-5">
  <div class="form-group col-md-6 col-lg-6">
    <h3 style="color: crimson">{{ msg }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card-body">
      <form method="post" action="" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <!-- <div class="row" style="margin-top: 50px">
          <div class="form-group col-md-4 col-lg-4">
            <label for="person_name">Person Name</label>
            <input
              type="text"
              class="form-control"
              name="person_name"
              placeholder="Project Title"
              id="person_name"
              required
            />
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <label for="person_image">Image</label>
            <br />
            <input
              type="file"
              name="person_image"
              class=""
              id="person_image"
              accept="/"
              required
              multiple
            />
          </div>
        </div> -->
        <div class="row">
          <div class="submit-btn mt-5">
            <input
              type="submit"
              value="Add Person"
              name="submit"
              class="btn btn-primary"
            />
          </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <table class="table table-striped">
   <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Phone Number</th>
    </tr>
   </thead>
   <tbody>
    {% for person in people %}
    <tr>
      <td>{{person.firstname}}</td>
      <td>{{person.lastname}}</td>
      <td>{{person.age}}</td>
      <td>{{person.phone_number}}</td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
</div>
{% endblock content %}
